{% extends "base.html" %}

{% block content %}

<h1>Register with CoinStream</h1>
<h2>Registering user {{ session['nickname'] }}</h2>
Please fill out relevant information below.<br><br>

<form class="form form-vertical" action="/newuser" method=post 
    role="form" name="RegisterForm">
    <dl>
        {{ form.hidden_tag() }}
        <label for="xpub_field">Your Extended Public Key</label>
        <div class="input-group input-group-sm col-lg-6">
            <input type="text" 
            class="form-control" 
            placeholder="Should start with 'xpub'" 
            aria-describedby="basic-addon2"
            name=xpub_field>
        </div>

        <!-- Single button -->
            <select class="selectpicker" name=fiat_field>
                {% for item in form.fiat_field %}
                <option>{{ item.label }}</option>
                {% endfor %}
            </select>
        </div>
    </dl>
    <p><input type=submit value="Register">
</form>

{% endblock %}

