<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ nickname }} - CoinStream</title>

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

        <script>
        function create_pay_req(){
            var req = new XMLHttpRequest()
            var somerandominteger = 0
            req.onreadystatechange = function(){
                if(req.readyState === 4){
                    if (req.status != 200){
                       // TODO: Handle Errors
                    }
                    else{
                        var response = JSON.parse(req.responseText)
                        console.log(response.btc_addr)
                        document.getElementById('addressText').innerHTML = 
                            "<p>Please send some bitcoin to the address <strong>" + response.btc_addr + "</strong>"
                        jQuery('#addressQR').qrcode({
                            text : "bitcoin:" + response.btc_addr
                        });
                    }

                }

            }
        // Proof of concept of live-updating code on page
        setInterval(function(){ 
            somerandominteger++; 
            document.getElementById('randomInt').innerHTML = somerandominteger
        }, 3000)
        req.open('POST', '/_create_payreq') 
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        var postVars = 'social_id={{ social_id }}'
        req.send(postVars)
        return false
        }
        </script>


    </head>

    <body onload ="create_pay_req()">
        <script src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-qrcode/src/jquery.qrcode.js"></script>
        <script type="text/javascript" src="/static/js/jquery-qrcode/src/qrcode.js"></script>
        <div class="container">
            <div class="jumbotron">
                <h1>Tip {{ nickname }} with BitCoin</h1> 
                <p>This user sure does work hard on their stream and a tip into their BitCoin Wallet would very much be appreciated!</p>
            </div>
        </div>
        <!-- Button trigger modal -->
        <div class="container">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Show BitCoin Address
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Send Some BitCoin to {{ nickname }}</h4>
                        </div>
                        <div class="modal-body">
                            <div id="addressText"></div>
                            <div id="randomInt"></div>
                            <p>Use either the QR code directly below with your mobile wallet, or the link to launch your wallet software.
                            <p id="addressQR">
                            <p><a href="bitcoin:{{ btc_addr }}" type="button" class="btn btn-primary">Launch Bitcoin Wallet</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

    </body>
